.avatar{
  width: 75px;
}

.defaultPage{
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 3px 1px;
}
.defaultPage:hover{
  color: grey;
}
.currentPage{
  font-weight: bold;
}