.img{
  max-width: 200px;
  z-index: 1;
}

.container{
  position: relative;
}

.background{
  width: 100%;
  display: block;
  opacity: 0.1;
  margin: auto;
  z-index: 0;
}

.backgroundContainer{
  height: 100px;  
  position: absolute;
  width: inherit;
}
.contacts{
  padding-left: 10px;
}